.availableQuiz {
    text-align: center;
    color: black;
    background-color: darkgrey;
    border: double red 8px;
    font-size: 15px;
}
.description {
    color: blue;
    text-decoration-line: underline;
}
.quizzName {
    color: black;
    border: solid;
    font-weight: bold;
    font-size: 20px;

}
body{
    // background: #ebf5c4 url("wallpaper.jpg") left;

}
#content{
    margin: 3%;
    font-size: 10px;
    font-weight: bold;
    color:black;
    font-style: italic;
    text-align: left;
}
.button{
    position: relative;
    left: 47%;
}
#header{
    text-decoration-line: underline;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;

}
#footer{
    text-align: center;
    font-size: 10px;
    color: black;
    font-weight: bold;

}
#leaderP{
    display:inline-block;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lawngreen;
    border: none;
    border-radius: 18px;
    box-shadow: 0 5px silver;
}
#nameInput{

    text-align: center;
    position: relative;
    left: 381px;
}
#tHDetailsDiv{
    border: darkslategrey double 10px;
}
#details{
    text-align: center;
    font-size: 10px;
    border-radius: 50px;
    background: darkslategrey;
    margin-left: 900px;
    padding: 10px;
    color: #ebf5c4;
}

#startButton{
    display:inline-block;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: darkturquoise;
    border: none;
    border-radius: 18px;
    box-shadow: 0 5px silver;
}
#resumeButton {
    display:inline-block;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #10ff2b;
    border: none;
    border-radius: 18px;
    box-shadow: 0 5px silver;
}
#dials{
    border: solid red 2px;
    margin-right: 92.1%;

}
#backButton{
    display:inline-block;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: darkslategrey;
    border: none;
    border-radius: 18px;
    box-shadow: 0 5px silver;
    margin-left: 3%;
}
#answerBox{
    display:inline-block;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: aqua;
    border: none;
    border-radius: 18px;
    box-shadow: 0 5px silver;
}