html,body{
    font-size: 1.3em;
    height: 98%;
}
body{
    padding: 0 2%;
    background:black url("images/37125686250_b18d3ac587_b.jpg") ;
    /*background: black no-repeat;*/
    background-size: 98%;
}
#header,#content,#footer {
    opacity: 0;
    /*margin: 5% 3%;*/
    position: absolute;
    border: solid 2pt #bcaaa4;
    padding: 3%;
    width: 85%;
    background: #ffffff;
    background-blend-mode: hue;
    text-align: center;
    animation:fadeIn  1.5s 1 forwards linear  ;
}
#testControls{
    position: absolute;
    top: 100%;
}
#header{
    top: 11%;
    min-height: 8%;
    max-height: 8%;
    border-radius: 20pt 20pt 5pt 5pt;    /*overflow: auto;*/
}
#content {
    font-size: 1em;
    top: 24%;
    height: 57%;
    border-radius: 5pt;
    overflow: auto;
}
#footer{
    font-size: 0.7em;
    top: 86.5%;
    min-height: 8%;
    max-height: 8%;
    border-radius: 5pt 5pt 20pt 20pt;
    /*overflow: auto;*/
}

@keyframes fadeIn  {
    0%{opacity: 0}
    100%{opacity: 1}
}

#loader {
    border: 35px solid #f3f3f3;
    border-top: 35px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
    position: relative;
    left: 6%;
    top: 12%;
}
#divInContent{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
    }
}
#skipButton{
    float: left;
}
#scoreDiv{
    clear: both;
}
#answerButton{
    float: right;
}

.availableQuiz{
    border: solid 1pt black;
    border-radius: 10pt;
    margin-top: 2%;
    padding: 1%;
}
#finished{
    text-align: left;
}
#bigDivInContent{
    width: 99%;
    contain: content;
}
#leaderDiv ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#leaderDiv li{
    border: 1pt solid black;
    margin-bottom: 5%;
}
button, input[type=submit],input[type=button] {
    transform: scale(1.2);
    /*margin-bottom: 8%;*/
}

input[type=radio] {
    margin-left: 8%;
    margin-right: 2%;
    transform: scale(2);
}
#buttonList {
    padding: 0;
    margin: 0;
}
#buttonList li{
    display: inline-block;
    margin-right: 4%;
}
